<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="style.css">
    <style>
        #video-grid{
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
        }
        video{
           height: 300px;
           width: 400px;
           object-fit: cover;
           padding: 8px;
        }
     </style>
</head>

<body>
    <div id="video-grid">
        
    </div>
    <script src="script.js"></script>
</body>
</html>